/* font-family: 'Raleway', sans-serif;
font-family: 'Zilla Slab', serif; */
html {
    font-size: 18px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
    line-height: 23px;
    font-weight: 400;
}

h1 {
    font-size: 70px;
    line-height: 84px;
}

h2 {
    font-size: 50px;
    line-height: 60px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
}

h1,
h2,
h3 {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}