.titulo-1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}

.titulo-2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.text-1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.text-2 {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.box-1{
    border: 1px outset #afafaf;
    width: 380px;
    height: 500px;
    margin: 10px;
}
.box-2{
    border: 1px outset #afafaf;
    width: 380px;
    height: 504.1px;
    margin: 10px;
}

.bot-view{
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    text-decoration:none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.t1{
    padding: 10px;
}

.t2{
    padding: 10px;
}